<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leaf.clips">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".presenter.MainActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

        <service android:name=".model.beacon.BeaconManagerAdapter"/>


                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presenter.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".presenter.MainDeveloperPresenter">
        </activity>
        <activity
                android:name=".presenter.DeveloperUnlockerActivity"
                android:label="@string/title_activity_developer_unlocker"
                android:parentActivityName=".presenter.HomeActivity">
        </activity>
        <activity
                android:name=".presenter.MainDeveloperActivity"
                android:label="@string/title_activity_main_developer"
                android:parentActivityName=".presenter.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.HomeActivity"/>
        </activity>
        <activity
                android:name=".presenter.LoggingActivity"
                android:label="@string/title_activity_logging"
                android:parentActivityName=".presenter.MainDeveloperActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.MainDeveloperActivity"/>
        </activity>
        <activity android:name=".presenter.PoiCategoryActivity">
        </activity>
        <activity
                android:name=".presenter.NearbyPoiActivity"
                android:label="Nearby Pois"
                android:parentActivityName=".presenter.HomeActivity">
        </activity>
    </application>

</manifest>